<section class="review-panel-space">
  <% @reviews.each do |review| %>
  <%= render 'review/list/scheduled', :review => review %>
  <% end %>
</section>

<script>
$('document').ready(function() {
  var articles = $('.review-panel');
  articles.on('click', function() {
    location.href = '/review/show/' + $(this).data('review-id');
  });
  
  articles.each(function(index, article) {
    var progress_bar = $('.review-progress-bar', article);
    progress_bar.progressbar({"value" : progress_bar.data('progress')});
    if (parseInt(progress_bar.data('progress')) > 95) {
      $('.ui-widget-header', progress_bar).addClass('ui-progressbar-completed');
    }
  });
});
</script>
