<div>
  <p>If your domain or email has already been registered, please <a href="mailto:info@greenstatuspro.com">contact Green Status Pro</a></p>
</div>

<script>
  $("#content").dialog({
    width:400,
    modal:true,
    title:"Attention",
    buttons: [{text: "Try again", click: function() { location.href = "<%= trial_sign_up_form_path %>"; }},
              {text: "Sign in", click: function() { location.href = "<%= new_user_session_path %>"; }}]
  });
</script>
