<div id="sign_up">
  <div class="header">
    <span class="logo"><img src=""></span>
    <span>
      <p>Already have an account?</p>
      <span><a href="/users/"></a></span>
    </span>
  </div>

  <div class="page">
    <div class="left-column">
      <h1>14-day Trial</h1>
      <p>Process up to 8 CFSI templates and generate reports for your company's SEC Form SD filing.</p>
      <p>And access Roadmap™ for your due diligence requirements.</p>
      <div class="email-form-container">
        <%= form_tag(trial_sign_up_new_password_path, :method => :post) do %>
          <%= email_field_tag :email %>
          <%= submit_tag "Sign up" %>
        <% end %>
      </div>
    </div>
    <div class="right-column">
      <div class="info-slider">
      </div>
    </div>
  </div>

  <div class="footer">
    <span><p>&copy; Green Status Pro 2013-14</p></span>
    <span><a href="">Contact Us</a></span>
    <span><a href="http://www.greenstatuspro.com/#!about-us/c1bda" target="_blank">About Us</a></span>
  </div>
</div>

<%= javascript_include_tag "gsp/trial/gsp.trial.signup" %>


<div id="contact_us_form">
<form>
  <label>From:</label> <input type="text">
  <label>Subject:</label> <input type="text">
  <textarea></textarea>
  <input type="submit" value="Send">
</form>
</div>
