
  <div id="sys-notification">
    <span>Green Status Pro - <%= ((Rails.env.production?) ? '' : "[mode: %s version %s] - " % [Rails.env, GSP::VERSION]) %> <%= "(Logged in as: #{current_user.eponym})" if current_user %></span>
  </div>
