
<div id="_comments" class="task_comments">
  <div onclick="toggle_comment_entry('#_comments')">
    <!--div id="_comments_entry_collapsed" class="display-block">Add comment or Upload File...</div-->
  </div>
</div>


