<div id="new_template">
  <form action="/templates/create" method="post">
  <div id="new_template_agency">
    <span>Agency</span>
    <span>
      <select>
        <% @agencies.each do |a| %>
        <option value="<%= a.id %>"><%= [a.id.to_s, a.acronym, a.name].join(" | ") %></option>
        <% end %>
      </select>
    </span>
  </div>
  
  <div id="new_template_regulation_full_name">
    <span>Regulation Full Name</span>
    <span></span>
  </div>
  
  <div id="new_template_regulation_display_name">
    <span>Regulation Display Name</span>
    <span></span>
  </div>
  
  <div id="new_template_description">
    <span>Description</span>
    <span></span>
  </div>
  
  <div id="new_template_review_name">
    <span>Review Name</span>
    <span></span>
  </div>
  
  <div id="new_template_frequency">
    <span>Frequency</span>
    <span></span>
  </div>
  
  <div id="new_template_review_objective">
    <span>Review Objective</span>
    <span></span>
  </div>
  
  <div id="new_template_tasks">
    <span></span>
    <span></span>
  </div>
  
  <div id="new_template_">
    <span></span>
    <span></span>
  </div>
  </form>
</div>
