<style>
  #tabs {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.75);
  }
</style>


<div id="tabs">
  <ul>
    <li><a href="#template_readonly">View</a></li>
    <li><a href="#template_editor">Edit</a></li>
  </ul>
  <div id="template_readonly">
    <%= render 'template_readonly', :template => @template %>
  </div>
  <div id="template_editor">
    <%= render 'template_edit', :template => @template %>
  </div>
</div>
<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
</script>
