<div class="panel panel-non-conformance">
  <table class="task_list">
    <thead>
      <tr>
        <th>Non-Conforming Reviews</th>
        <th>Task</th>
      </tr>
    </thead>
    
    <tbody>
    <% @non_conforming_tasks.each do |task| %>
    <tr data-task-id="<%= task.id %>">
      <td><%= link_to task.review.name, list_tasks_path(task.review_id) %></td>
      <td class="task_link"><%= link_to task.name, task_show_path(task.id) %></td>
    </tr>
    <% end %>
    </tbody>
    
    
  </table>
  
  <div>
    <!--p>Completed and in conformance</p>
    <p>Not completed but all tasks in conformance</p>
    <p>At least one review item in non-conformance</p-->
  </div>
</div>
