<div class="panel panel-non-conformance">
  <table>
    <tr>
      <th>Non-Conforming Reviews</th>
      <th>Task</th>
    </tr>
    
    <tr>
      <td>ISO 9001:2008 – Control of Production and Service Provision Checklist</td>
      <td>Task name</td>
    </tr>
    <tr>
      <td>ISO 9001:2008 - Continual Improvement Checklist</td>
      <td>Task name</td>
    </tr>
    <tr>
      <td>ISO 9001:2008 - Continual Improvement Checklist</td>
      <td>Task name</td>
    </tr>
    <tr>
      <td>ISO 9001:2008 - Continual Improvement Checklist</td>
      <td>Task name</td>
    </tr>
    
    
  </table>
</div>
