<div class="panel panel-past-due">
  <table>
    <tr>
      <th>Late Reviews</th>
      <th>Past Due Task</th>
      <th>Days Late</th>
    </tr>
    
    <% @past_due_tasks.each do |task|%>
    <tr>
      <td><%= link_to task.review.name, show_review_path(task.review_id) %></td>
      <td><%= link_to task.name, task_show_path(task.id) %></td>
      <td><%= time_ago_in_words(task.expected_completion_at) %></td>
    </tr>
    <% end %>
    
  </table>
  
  <div></div>
</div>
