<div class="panel panel-past-due">
  <table>
    <tr>
      <th>Review</th>
      <th>Past Due Task</th>
      <th>Days Late</th>
    </tr>
    
    <% @past_due_tasks.each do |task|%>
    <tr>
      <td><%= task.review.name %></td>
      <td><%= task.name %></td>
      <td><%= Time.now - task.expected_completion_at %></td>
    </tr>
    <% end %>
    
  </table>
</div>
