<div class="panel panel-reviews">
  <table>
    <tr>
      <th>Reviews</th>
      <th>Status</th>
    </tr>
    
    <tr>
      <td>ISO 9001:2008 – Control of Production and Service Provision Checklist</td>
      <td></td>
    </tr>
    <tr>
      <td>ISO 9001:2008 - Continual Improvement Checklist</td>
      <td></td>
    </tr>
    
    
  </table>
  
  <div>
    <p>Period: 1 year previous - Today</p>
    <p>Completed and in conformance</p>
    <p>Not completed but all tasks in conformance</p>
    <p>At least one review item in non-conformance</p>
  </div>
</div>
