<div class="panel panel-reviews">
  <table>
    <tr>
      <th>Reviews</th>
      <th>Status</th>
    </tr>
    
    <% @active_reviews.each do |review| %>
    <tr>
      <td><%= review.name %></td>
      <td><%= review.status %></td>
    </tr>
    <% end %>
    
    
  </table>
  
  <div>
    <p>Period: 1 year previous - Today</p>
    <p>Completed and in conformance</p>
    <p>Not completed but all tasks in conformance</p>
    <p>At least one review item in non-conformance</p>
  </div>
</div>
