<%= render 'review/active_tasks_panel' %>
<%= render 'reports/panels/review_status' %>
<%= render 'review/available_reviews' %>
<div id="completed-tasks"><%= render 'review/recently_completed_tasks_panel' %></div>
