<style>
  .panel .collapsed-row {
    display:none;
  }
  .panel .expanded-row {
    display:block;
  }
</style>

<script>
  $('document').ready(function() {
    var test = $('#panel_test');
    var expand_panel = $('.expand-panel', test);
    var anchors = $('a', expand_panel);
    anchors.each(function(index, anchor) {
      console.log(anchor);
      
      $(anchor).on('click', function() {
        var collapsed = $('.collapsed-row', test);
        collapsed.removeClass("collapsed-row");
        collapsed.addClass("expanded-row");
        return false;
      });
    });
  });
</script>



<div class="panel" id="panel_test">
  <table>
    <tbody><tr>
      <th>Completed Reviews</th>
      <th>Completion Date</th>
    </tr>
    
    <tr>
      <td><a href="/review/show/10">ISO 9001:2008 – Control of Production and Service Provision Checklist </a></td>
      <td>May 27, 2013</td>
    </tr>
    <tr>
      <td><a href="/review/show/12">ISO 9001:2008 – Control of Production and Service Provision Checklist </a></td>
      <td>May 27, 2013</td>
    </tr>
    <tr>
      <td><a href="/review/show/13">ISO 9001:2008 – Control of Production and Service Provision Checklist </a></td>
      <td>May 27, 2013</td>
    </tr>
    <tr class="collapsed-row">
      <td><a href="/review/show/10">ISO 9001:2008 – Control of Production and Service Provision Checklist </a></td>
      <td>May 27, 2013</td>
    </tr>
    <tr class="collapsed-row">
      <td><a href="/review/show/12">ISO 9001:2008 – Control of Production and Service Provision Checklist </a></td>
      <td>May 27, 2013</td>
    </tr>
    <tr class="collapsed-row">
      <td><a href="/review/show/13">ISO 9001:2008 – Control of Production and Service Provision Checklist </a></td>
      <td>May 27, 2013</td>
    </tr>
    <tr class="collapsed-row">
      <td><a href="/review/show/10">ISO 9001:2008 – Control of Production and Service Provision Checklist </a></td>
      <td>May 27, 2013</td>
    </tr>
    <tr class="collapsed-row">
      <td><a href="/review/show/12">ISO 9001:2008 – Control of Production and Service Provision Checklist </a></td>
      <td>May 27, 2013</td>
    </tr>
    <tr class="collapsed-row">
      <td><a href="/review/show/13">ISO 9001:2008 – Control of Production and Service Provision Checklist </a></td>
      <td>May 27, 2013</td>
    </tr>
    <tr class="collapsed-row">
      <td><a href="/review/show/10">ISO 9001:2008 – Control of Production and Service Provision Checklist </a></td>
      <td>May 27, 2013</td>
    </tr>
    <tr class="collapsed-row">
      <td><a href="/review/show/12">ISO 9001:2008 – Control of Production and Service Provision Checklist </a></td>
      <td>May 27, 2013</td>
    </tr>
    <tr class="collapsed-row">
      <td><a href="/review/show/13">ISO 9001:2008 – Control of Production and Service Provision Checklist </a></td>
      <td>May 27, 2013</td>
    </tr>
    <tr class="collapsed-row">
      <td><a href="/review/show/10">ISO 9001:2008 – Control of Production and Service Provision Checklist </a></td>
      <td>May 27, 2013</td>
    </tr>
    <tr class="collapsed-row">
      <td><a href="/review/show/12">ISO 9001:2008 – Control of Production and Service Provision Checklist </a></td>
      <td>May 27, 2013</td>
    </tr>
    <tr class="collapsed-row">
      <td><a href="/review/show/13">ISO 9001:2008 – Control of Production and Service Provision Checklist </a></td>
      <td>May 27, 2013</td>
    </tr>
    <tr class="collapsed-row">
      <td><a href="/review/show/10">ISO 9001:2008 – Control of Production and Service Provision Checklist </a></td>
      <td>May 27, 2013</td>
    </tr>
    <tr class="collapsed-row">
      <td><a href="/review/show/12">ISO 9001:2008 – Control of Production and Service Provision Checklist </a></td>
      <td>May 27, 2013</td>
    </tr>
    <tr class="collapsed-row">
      <td><a href="/review/show/13">ISO 9001:2008 – Control of Production and Service Provision Checklist </a></td>
      <td>May 27, 2013</td>
    </tr>
    <tr class="collapsed-row">
      <td><a href="/review/show/10">ISO 9001:2008 – Control of Production and Service Provision Checklist </a></td>
      <td>May 27, 2013</td>
    </tr>
    <tr class="collapsed-row">
      <td><a href="/review/show/12">ISO 9001:2008 – Control of Production and Service Provision Checklist </a></td>
      <td>May 27, 2013</td>
    </tr>
    <tr class="collapsed-row">
      <td><a href="/review/show/13">ISO 9001:2008 – Control of Production and Service Provision Checklist </a></td>
      <td>May 27, 2013</td>
    </tr>
    
    
  </tbody></table>
  <div class="expand-panel">
    <p><a href="">View more...</a></p>
  </div>
</div>
