
<div>
  <div style="float:left; margin-right:5px;">
    <img src="/images/agencies/<%= @template.agency.acronym.downcase %>.png">
  </div>
  <div>
    <h2><%= @template.agency.name %> (<%= @template.agency.acronym %>)</h2> <h3><%= @template.regulatory_review_name %></h3>
  </div>
</div>

