<div class="panel">
  <div style="padding:3px">
    <center><img src="<%= @graph_image_url %>"></center>
  </div>
</div>

<div class="panel">
  <div style="padding:3px">
    <center><img src="<%= @task_graph %>"></center>
  </div>
</div>

<div class="panel">
  <div style="padding:3px">
    <center><img src="<%= @task_finding_graph %>"></center>
  </div>
</div>
