<div id="review_status_graph" class="graph">
</div>
<% # TODO This has got to be coded better... %>
<%= ("<script type='text/javascript'>$GSP.addPieChart(%s);</script>" %  @review_status).html_safe %>
