<table border="1">

  <% @templates.each do |temp| %>
  <tr>
    <td><%= temp.full_name %></td>
    <td>Edit</td>
    <td><%= link_to 'Deploy', generate_review_path(temp.id) %></td>
  </tr>
  <% end %>
</table>
