<script>
  $('#nav_menu_divisions').removeClass('inactive-menu');
  $('#nav_menu_divisions').addClass('active-menu');
</script>

<div id="organization_tree">
</div>


<script>
 load_organization(<%= params[:id] %>);
</script>
