<section id="create">
  <div>
    <%= link_to "Create new validations batch", cfsi_cmrt_new_path, :method => 'post' %>
  </div>
</section>

<hr>

<section id="validations_batches">
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Previously processed</a></li>
    </ul>
    <div id="tabs-1">
      <table border="1">
      <% @validations_batches.each do |validations_batch| %>
        <tr>
          <td><%= link_to "CMRTs (%s) - %s" % [validations_batch.cmrt_validations.count, validations_batch.created_at.to_formatted_s(:long)], :action => :show, :id => validations_batch.id %></td>
          <td>
            <ul>
              <li><%= link_to "Aggregated Smelters Report", :controller => 'reports', :action => 'aggregated_smelters', :batch_id => validations_batch.id %></li>
              <li><%= link_to "Consolidated Smelters Report", :controller => 'reports', :action => 'consolidated_smelters', :batch_id => validations_batch.id %></li>
            </ul>
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</section>


<script>
  $(document).ready( function() {  $( "#tabs" ).tabs(); });
</script>
