<%= link_to "Create new validations batch", cfsi_cmrt_new_path, :method => 'post' %>

<hr>

<ul>
<% @validations_batches.each do |validations_batch| %>
  <li><%= link_to validations_batch.created_at.to_s, validations_batch_show_path(validations_batch.id) %></li>
<% end %>
</ul>
