<div data-inline-edit="textfield"
  data-template-id="<%= @template.id %>"
  data-template-type="<%= @template.class %>"
  data-field-name="objectives"
  <%= "contenteditable=true" if @use_ckeditor %>><%= edit_field @template.objectives %></div>
