<style>
/* Agency image, name, regulation name */
#standard {
 /* margin: 0 20% 0 20%; */
}

#standard_purchased_by {
  text-align:center;
  color:#007C43;
  font-weight:bold;
}

#standard_agency_section {
}

#standard_agency_image_section {
  float:left;
  margin-right:5px;
  min-height:92px;
}

#standard_agency_section h2 {
}

#standard_agency_section h3 {
}

/* Standard's data and tasks */
#standard_data_section {
  background-color:white;
  width:850px;
  border:1px solid black;
  padding:10px;
  margin:0 0 20px 50px;
}
 
#standard_objective { 
  font-size:1em;
  text-align:justify;
}

/* Tasks */
#standard_add_task {
  text-align:center;
  padding:10px;
}

.standard-add-task-button,
.standard-delete-task-button {
  -webkit-border-radius:5px;
  border-radius:5px;
  padding:3px 10px 3px 10px;
  border:1px solid gray;
  background-color:silver;
  text-shadow: -1px -1px -1px white;
  cursor:pointer;
  font-weight:bold;
  color:#333;
}

.standard-add-task-button:hover,
.standard-delete-task-button:hover {
  color:black;
}

.standard-add-task-button:active,
.standard-delete-task-button:active {
  color:#007C43;
}

/* TASK COMMENTS */
.task { border-bottom:1px solid gray; padding:30px; }


/* gsp.js */
.hide-inline-element { display:none }
.inline-editable-highlight { border:1px dotted cadetblue; }
.inline-editable-changed-highlight { border:1px dashed #A13B40; background-color:#FFCFA6; }

</style>


<script>
  $(document).ready(function () {
    $('.standard-add-task-button').on('click', add_task);
  });
  
  function add_task() {
    var div = $(document.createElement('div'));
    var url = $(this).attr('data-add-task-url');
    $.get(url, function (data) {
      $('#task_add_marker').before(div.css('display', 'none').html(data));
      div.slideDown(750);
    });
  }
  function delete_task() {
    var target = $(this);
    var url = target.attr('data-delete-task-url');
    $.ajax({
      type:"DELETE",
      url: url,
      success: function() {
        target.parent().parent().slideUp(500);
      }
    });
  }
</script>







<style>
  #tabs {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.75);
  }
  
  .template-editor-tasks h2 {
    margin: 20px auto 20px auto;
    width:150px;
  }
  
  .standard-editor input[type=text] {
    width: 100%;
  }
</style>


<div id="tabs" title="<%= @template.class.to_s %>">
  <ul>
    <li><a href="#template_readonly">View</a></li>
    <% unless @readonly %>
      <li><a href="#template_editor">Edit</a></li>
    <% end %>
  </ul>
  <div id="template_readonly" data-template-id="<%= @template.id %>" data-template-class="<%= @template.class.to_s %>">
    <img src="/images/green/loading.gif">
  </div>
  
  <% unless @readonly %>
  <div id="template_editor">
    <%= render '/shared/standard/templates/template_edit', :template => @template %>
  </div>
  <% end %>
</div>
<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  
  $('document').ready(function() {
    var readonly = $("#template_readonly");
    
    if (readonly.data("template-class") == "GspTemplate")
      readonly.load("/admin/gsp_templates/show_readonly/" + readonly.data("template-id"));
    else
      readonly.load("/template/show_readonly/" + readonly.data("template-id"));
  });
</script>




