/*  GSP - Green - Templates
 * Purchased templates
 * © Copyright 2013. Green Status Pro. All Rights Reserved.
 */

.templates {
  margin: 0 auto 0 auto;
  width: 80%;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
}

.templates-header {
  margin-bottom: 30px;
  text-align:center;
}

.templates-header p { color: gray }
.templates-list div {
  margin-bottom:10px;
}

.templates-purchase-search div {
  float:left;
  color:cadetblue;
  width:33%;
}

.templates-purchase-search:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.templates-purchase-search div {
  font-size:20pt;
  height:50px;
  vertical-align:middle;
  text-align:center;
  margin: 1px;
}

.template-add:hover {
  background-color:#FFCFA6;
  cursor:pointer;
  border:1px solid cadetblue;
  margin:0px;
}

.templates-purchase-search div:nth-child(3) {
  text-align:right;
}
.templates-purchase-search div:nth-child(3) input {
  font-size:20pt;
  color:silver;
}

.organization-templates div {
}

.templates-list-item:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.templates-list-item { 
  border:1px solid cadetblue;
  position:relative;
  -moz-box-shadow: 2px 2px 5px #CCC;
  -webkit-box-shadow: 2px 2px 5px #CCC;
  box-shadow: 2px 2px 5px #CCC;
}


.templates-list-item a,
.templates-list-item a:hover,
.templates-list-item a:link,
.templates-list-item a:active,
.templates-list-item a:visited {
  color: #3BA173;
  font-weight:bold;
}

.templates-list-item div { float:left; }
.templates-list-item div:nth-child(1) { width:64px; padding:2px;}
.templates-list-item div:nth-child(2) { width:60%; padding: 10px; text-align:justify; }
.templates-list-item div:nth-child(2) span { display:block; }
.templates-list-item div:nth-child(3) { width:200px; }
.templates-list-item img { opacity: 0.5; }

.templates-list-item:hover { 
  top : -1px;
  left: -1px;
  -moz-box-shadow:  3px 3px 5px #666;
  -webkit-box-shadow: 3px 3px 5px #666;
  box-shadow: 3px 3px 5px #666;
}
.templates-list-item:hover img {
  opacity: 1;
}

