/*  GSP - Green - Reviews
 * Periodical reviews
 * © Copyright 2013. Green Status Pro. All Rights Reserved.
 */
 
 
 /* == Task popup == */

.task {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border:1px solid #7C0006;
  background-color:#FFD;
  width:90%;
  min-height: 500px;
  margin: 0 auto 0 auto;
}

.task-sequence {
  position:relative;
  float:left;
  display:table-cell;
  background-color:#7C0006;
  padding:5px;
  min-width:40px;
  margin:0;
  height:30px;
  color:#FFCFA6;
  font-family:Arial;
  font-weight:bold;
  font-size:18pt;
  text-align:center;
  vertical-align:middle;
  -webkit-border-radius: 20px 0px 20px 0px;
  border-radius: 20px 0px 20px 0px;
  z-index:2;
}

.task-sequence p { margin:0; padding:0;}

.task-due-date {
  display:block;
  padding-right:80px;
  font-size:22pt;
  text-align:right;
}

.task-due-date p {
  display:inline;
  color:gray;
}

.task-due-date p:first-child {
  color:silver;
}

.task-functions {
  margin:0;
  padding:0;
  width:100%;
  overflow:auto;
  text-align:center;
}

.task-functions ul {
  overflow:auto;
  margin:0;
  padding:0;
  list-style:none;
}

.task-functions ul li {
  padding:0;
  float:right;
  margin:0 20px 0 10px;
}

.task-fields {
  padding: 0 0 0 10px;
}

.task-fields span:first-child {
  font-weight:bold;
}

.task-objective {
  margin:0;
  padding:10px;
  font-size:9pt;
}

.task-content {
  padding:0 10px 0 10px;
}

.task-instructions pre {
  border:1px solid #FFA6AB;
  overflow:scroll;
  min-height:200px;
}

/* == Task Comment == */
.task-comments {
  margin-bottom: 20px;
}

.task-comment {
  padding:10px;
}

.comment-profile-image {
  width:48px;
  height:48px;
  float:left;
  margin-right: 10px;
}

#comment_entry {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border:1px solid silver;
  padding:10px;
  background-color:#EEE;
}

#comment_input { float:left }
#comment_input {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color:white;
  width:90%;
  border:1px solid silver;
  margin:0;
}

#comment_input iframe {
  width:100%;
  border:0;
  margin:0;
}

#comment_fake_input {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  float:left;
  border:1px solid silver;
  cursor:text;
  min-height:30px;
  vertical-align:middle;
  text-align:center;
  font-size:16pt;
  color:silver;
  width:80%;
}

.task-comment:after,
#comment_entry:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.hide-comment-entry-box {
  display:none;
}

.show-comment-entry-box {
  display:table-cell;
}





.task-reopen,
.task-close {
  float:left;
  display:table-cell;
  background-color:#A13B40;
  padding:5px 5px 5px 20px;
  min-width:40px;
  margin:0 0 0 -15px;
  height:30px;
  font-family:Arial;
  font-weight:bold;
  font-size:18pt;
  text-align:center;
  vertical-align:middle;
  -webkit-border-radius: 20px 0px 20px 0px;
  border-radius: 20px 0px 20px 0px;
  z-index:-3;
}

.task-reopen p,
.task-close p { margin:0; padding:0;}
.task-reopen a,
.task-reopen a:link,
.task-reopen a:visited,
.task-close a,
.task-close a:link,
.task-close a:visited { color:#FFA65C; text-decoration:none }

.task-reopen a:hover,
.task-close a:hover { color:#FFA65C; text-decoration:underline }

.task-completed {
  /*text-decoration:line-through;*/
  background-color:#5CFFB5;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border:1px solid #7C0006;
  width:800px;
  margin: 0 auto 0 auto;
}

/* Full review viewer & editor */
#review_prepare { 
  position:relative;
  top:0;
  left:0;
  margin-bottom:100px;
}

#review_page {
  position:relative;
  background-color:#FFD;
  width:800px;
  border: 1px solid black;
  padding: 10px;
  margin-left:50px;
}

/* Review attributes */
#review_attributes { }

#review_attributes table {
  border-collapse:collapse;
  width:100%;
}

#review_attributes table tr:first-child td:first-child {
  width:50%;
}

#review_attributes td {
  border:1px solid gray;
  padding:4px;
}

#review_objective { margin-top:20px;  }

/* Review tasks */
#review_tasks { }

#task_page_navigation {
  margin-top:20px;
}
#task_page_navigation:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#task_page_navigation ul {
  padding:0;
  margin:0;
  list-style:none;
  float:right;
}

#task_page_navigation ul li {
  float:left;
  min-height:20px;
  min-width:32px;
  margin:0 5px 0 5px;
}

.review-task-page-previous,

.review-task-page-next {
  cursor:pointer;
}

#task_pages {
  position:relative;
  top:0; left:0;
  
}

.review-task { 
}

.review-task-active {
  display:block;
}

.review-task-inactive {
  display:none;
}

.review-task table {
  border-collapse:collapse;
  width:100%;
}

.review-task table tr:first-child td:first-child {
  width:50%;
}

.review-task td {
  border:1px solid gray;
  padding:4px;
}



/* Home Dashboard List */
.review-panel-space {
  margin: 20px;
}

.review-panel {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 240px;
  height: 265px;
  border: 1px solid black;
  padding: 5px;
  background-color: #EEE;
  float: left;
  margin-right: 20px;
}

  .review-panel > div:first-child {
    width: 100%;
    height: 265px;
  }
  
  /* Completion progress bar */
  .review-panel > .review-progress-bar {
    position: relative;
    top: -20px;
  }
  
  .review-panel .ui-progressbar { background: #DDD; border: 1px solid black; height: 1em; }
  .review-panel .ui-widget-header { background: #FFA65C; }
  .review-panel .ui-progressbar-completed { background: #007C43; }
  
  .review-panel div:first-child > p:first-child {
    font-weight: bold;
    text-align: center;
    background: none;
  }
  
  .review-panel table {
    width: 100%;
    margin: 5px 0 5px 0;
  }
  
  .review-panel table td { 
    text-align: center
  }
  
  .review-panel .review-tasks-overview tr td {
    text-align: left;
  }
  .review-panel .review-tasks-overview tr td:first-child {
    width: 20px;
    text-align: right;
  }
  
.review-panel:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.review-panel:hover {
  -webkit-box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, .2);
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, .2);
  cursor: pointer;
  position: relative;
  top: -1px;
  left: -1px;
}


/* Review Task List */
.review-task-list-panel {
  width: auto;
}

.review-task-list-panel table {
  margin-top: 10px;
  margin-bottom: 10px;
}

.review-task-list-panel table td,
.review-task-list-panel table th {
  margin: 10px;
  padding: 5px;
  white-space: nowrap;
}
